body {
    margin: 0;
    overflow: hidden;
}

#gameContainer {
    position: relative;
    width: 960px;
    
    height: 540px;
    overflow: hidden;
}

#canvas {
    width: 960px;
    height: 540px;
    position: relative;
    z-index: 10;
}

#collectables {
    position: absolute;
}

#scoreDisplay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 14px;
}

#hungerDisplayContainer {
    position: absolute;
    top: 25px;
    right: 10px;
    width: 400px;
    height: auto;   
    z-index: 15;
}

#hungerDisplay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    z-index: 15;
    background-color: green;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

#background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/Environment_Recoveredneww.png");
    background-size: cover;
    background-position: bottom;
    z-index: 1;
    
}

#startScreen {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../images/startscreen_game.png");
    background-size: cover;
    z-index: 25;
    align-items: center;
    display: flex;
  justify-content: center;

}

#startScreenButton {
    width: 37.1%;
    height: 22.2%;
    background-image: url("../images/startgame_button_redbg.png");
    justify-content: center;
    background-size: cover;
    position: absolute;
    z-index: 25;
    border: none;
    bottom: 296px;
}

#gameOverScreen {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../images/gameoverscreennew.png");
    background-size: cover;
    z-index: 20;
    align-items: center;
    display: flex;
  justify-content: center;
}

#gameOverScreenButton {
    width: 40%;
    height: 22.2%;
    background-image: url("../images/playagain_button_greenbg.png");
    justify-content: center;
    background-size: cover;
    position: absolute;
    z-index: 25;
    border: none;
    bottom: 240px;
    left: 300px;
}
